# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Visual Studio cache
*.suo
*.opensdf
*.sdf

# Derived data cache is never checked in
/Engine/DerivedDataCache/**

# Engine intermediates
/Engine/Intermediate/**
/Engine/Plugins/**/Intermediate/**

# Ignore binary files...
/Engine/Binaries/**
/Engine/Plugins/**/Binaries/**

# Intermediate folders created for various C# programs
/Engine/Source/Programs/**/obj/**

# Saved folders for programs should not be checked in
/Engine/Programs/**/Saved/**
/Engine/Programs/UnrealBuildTool/**

# Ignore various other dependencies that are never checked in
/Engine/Content/**
/Engine/Documentation/**
/Engine/Extras/**

# Ignore any saved local files
/Engine/Saved/**

# Install stamp linux dependencies
/Engine/Build/BatchFiles/Linux/dependencies.sha1sums.installed

# log files for linux scripts (e.g. BuildThirdParty.sh)
/Engine/Build/BatchFiles/Linux/*.log

# Ignore third party binaries
/Engine/Source/ThirdParty/**/*.exe
/Engine/Source/ThirdParty/**/*.pdb
/Engine/Source/ThirdParty/**/*.lib
/Engine/Source/ThirdParty/**/*.a
/Engine/Source/ThirdParty/**/*.obj
/Engine/Source/ThirdParty/**/*.dll
/Engine/Source/ThirdParty/**/*.dylib
/Engine/Source/ThirdParty/**/*.bmp
/Engine/Source/ThirdParty/**/*.so
/Engine/Source/ThirdParty/**/*.bsc
/Engine/Source/ThirdParty/**/*.idb
/Engine/Source/ThirdParty/**/*.bc

# Ignore sample and template projects
/Samples/**
/Templates/**

# Ignore Unix backup files
*~