# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Visual Studio cache
*.suo
*.opensdf
*.sdf
*.pdb

# Derived data cache is never checked in
/DerivedDataCache/**

# Engine intermediates
/Intermediate/**
/Plugins/**/Intermediate/**

# Ignore binary files...
/Binaries/**
/Plugins/**/Binaries/**

# Intermediate folders created for various C# programs
/Source/Programs/**/obj/**

# Saved folders for programs should not be checked in
/Programs/**/Saved/**
/Programs/UnrealBuildTool/**

# Ignore various other dependencies that are never checked in
/Content/**
/Documentation/**
/Extras/**

# Ignore any saved local files
/Saved/**

# Install stamp linux dependencies
/Build/BatchFiles/Linux/dependencies.sha1sums.installed

# log files for linux scripts (e.g. BuildThirdParty.sh)
/Build/BatchFiles/Linux/*.log

# Ignore third party binaries
/Source/ThirdParty/**/*.exe
/Source/ThirdParty/**/*.pdb
/Source/ThirdParty/**/*.lib
/Source/ThirdParty/**/*.a
/Source/ThirdParty/**/*.obj
/Source/ThirdParty/**/*.dll
/Source/ThirdParty/**/*.dylib
/Source/ThirdParty/**/*.bmp
/Source/ThirdParty/**/*.so
/Source/ThirdParty/**/*.bsc
/Source/ThirdParty/**/*.idb
/Source/ThirdParty/**/*.bc

# Ignore sample and template projects
/Samples/**
/Templates/**

# Ignore Unix backup files
*~